.progress-container {
    position: relative;
    display: inline-block;
    /* width: 1000px; */
    height: 5px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    background-color: #e8e8e8;
    border-radius: 5px;
}

.progress-container .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 0;
    border-radius: 5px;
    background-color: #242424;
}

.dot {
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    background-color: #fff;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    cursor: pointer;
    user-select: all;
}

.dot:hover {
    box-shadow: 0 0 5px #bbb;
}
.circle {
    display: inline-block;
    height: 5px;
    width: 5px;
    margin-bottom: 2px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #242424;
}